.my-card{
    display: flex;
    margin: 20px 20px 16px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.name{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 30px;
}
.description{
    display: flex;
    align-items: center;
    width: 40%;
}
.deadline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.grade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}