.task-editor-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-card-main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
}

.my-card-dmd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-card-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-card-form-element{
    width: 300px;
}
