<button mat-icon-button color="accent" (click)="navEventer.emit('/tasks/create')">
    <mat-icon>add</mat-icon>
</button>
<mat-card class="my-card" *ngFor="let task of tasks">
    <mat-card-content class="card-container"
                      [class.overdue]="task.status !== 1 && isDeadlineApproaching(task.deadline)">
        <div class="name">{{task.name}}</div>
        <div class="description">{{task.description}}</div>
        <div class="deadline">
            {{getFormattedDate(task.deadline)}}
        </div>
        <div class="maxGrade">0/{{task.maxGrade}}</div>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon [ngClass]="status_l[task.status].color">{{status_l[task.status].icon}}</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let status of status_l; let i = index">
                <button mat-menu-item *ngIf="i !== task.status" (click)="updateEventer.emit(changeTask(task, i))">
                    <mat-icon [ngClass]="status.color">{{ status.icon }}</mat-icon>
                </button>
            </ng-container>
        </mat-menu>
        <button mat-icon-button
                (click)="navEventer.emit('/subjects/' + task.subjectId + '/tasks/' + task.id + '/edit')">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-content>
</mat-card>
