.my-card{
    display: flex;
    margin: 20px 20px 16px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.card-container.overdue {
    background-color: rgb(244, 67, 54, 0.6);
}
.name{
    display: flex;
    align-items: center;
    width: 25%;
}
.description{
    display: flex;
    align-items: center;
    width: 35%;
}
.deadline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.maxGrade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.redStatus{
    background-color: rgb(244, 67, 54);
}
.red{
    color: rgb(244, 67, 54);
}
.green{
    color: rgb(105, 240, 174);
}
.purple{
    color: rgb(164, 56, 182);
}
